
div.Boton_select {
    border-radius: 90px;
    width: 100px;
    height: 50px;
}

div.Boton_select P {
    color: black;
    text-align: -webkit-center;
    padding-top: 15px;

}

div.boton_rosa, div.boton_rojo, div.boton_celeste, div.boton_verde, div.boton_naranja, div.boton_amarillo {
    width: 120px;
    height: 120px;
    margin-bottom:18px;
}

div.boton_rosa {
    color: black;
    background-color: hotpink;
}

div.boton_rojo {
    color: black;
    background-color: red;
    width: 120px;
    height: 120px;
}

div.boton_amarillo {
    color: black;
    background-color: yellow;
}

div.boton_celeste {
    color: black;
    background-color: lightblue;
}

div.boton_verde {
    color: black;
    background-color: green
}

div.boton_naranja {
    color: black;
    background-color: orange;
}

#mensaje {
    /*position: absolute;*/
    height: 90px;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: -webkit-xxx-large;
    font-weight: 600;
    letter-spacing: 5px;
}

textarea {
    border-radius : 30px;
    border: 5px solid;
    border-color: cadetblue;
    /*
    margin-left: 10%;
    margin-right: auto;*/
}

.mensaje-confirmacion p {
    padding: 15px;
}