<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jscontrol.js"></script>
    <title>PRUEBA</title>
  </head>
  <body>
    <div id=BodyContein>
        <h1>ELAMobile</h1>
            <header>
                <div class='define' action="/howmany" method="post">
                    <textarea id="mensaje"><%=@id%></textarea>
                </div>
            </header>
            <section >
                <div class='define'>
                    <table id="tableELA" class='define'>
                        <tr>
                            <td>
                                <div id="boton_rosa" class="Boton_select" onclick="SelGroup(boton_rosa.id)">
                                </div>
                            </td>
                            <td>
                                <div id="boton_rojo" class="Boton_select" onclick="SelGroup(boton_rojo.id)">
                                <p>G H I J K L</p>
                                </div>/>
                            </td>
                        </tr>
                    </table>
                </div>
        </section>
    </div>
  </body>
</html>
