<html>
<head>
    <title>CH</title>
</head>
<body>
    <div id="main">
        <form action="" method="post">
            <textarea name="orig" id="orig" rows="25" cols="150"></textarea>
            <br /><br /><br />
            <button type="submit">Submit</button>
        </form>
        <br /><br /><br />
     <textarea id="result" rows="25" cols="150"><%=@result%></textarea>
    </div>
</body>
</html>
